/* ---------------------------------------------
Table of contents
------------------------------------------------
01. Variable
02. reset css
03. reset
04. global styles
05. header
06. Hero
07. features
08. testimonials
09. contact
10. footer
11. preloader
12. search
13. portfolio

--------------------------------------------- */
/* 
---------------------------------------------
Variable
--------------------------------------------- 
*/

/**************************************************************************************************************/ /**************************************************************************************************************/
/****************************************************************************************************************/
/****************************************************************************************************************/

/*  Global variables*/

/* Set core body defaults */
body {
  max-width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px; /* set the base font size at 16px */
}
:root {
  --img-logo: url("../img/logo.png");
  --clr-primary: hsl(207, 99%, 54%);
  --clr-accent: hsl(45, 100%, 50%);
  --clr-white: hsl(207, 100%, 100%);
  --clr-dark: hsl(207, 14%, 14%);
  --clr-full-transparent: rgba(0, 0, 0, 0);
  --clr-box-shadow: rgba(0, 0, 0, 0.15);
  --clr-wrapper: rgba(0, 0, 200, 0.4);
  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-body: "Mulish", sans-serif;
  --ff-primary-heading: var(--ff-primary);
  --ff-secondary-heading: var(--ff-primary);
  --ff-tertiary-heading: var(--ff-primary);
  --ff-nav: var(--ff-primary);
  --ff-button: var(--ff-primary);
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fs-xs: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
  --fs-sm: clamp(1.05rem, calc(0.93rem + 0.62vw), 1.41rem);
  --fs-md: clamp(1.26rem, calc(1.09rem + 0.87vw), 1.76rem);
  --fs-lg: clamp(1.51rem, calc(1.27rem + 1.19vw), 2.2rem);
  --fs-xlg: clamp(1.81rem, calc(1.49rem + 1.62vw), 2.75rem);
  --fs-primary-heading: var(--fs-xlg);
  --fs-secondary-heading: var(--fs-md);
  --fs-tertiary-heading: var(--fs-sm);
  --fs-body: var(--fs-xs);
  --fs-nav: var(--fs-xs);
  --fs-button: var(--fs-xs);
  --xlg-padding: 2.5rem;
  --lg-padding: 2rem;
  --md-padding: 1.5rem;
  --sm-padding: 1rem;
  --xs-padding: 0.6rem;
  --section-padding-block: var(--xlg-padding);
  --section-padding-inline: var(var(--lg-padding));
}

/* Media query for smaller screens (e.g., mobile phones) */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px; /* set the base font size at 14px */
  }
}

/* Media query for larger screens (e.g., desktops) */
@media screen and (min-width: 1025px) {
  body {
    font-size: 18px; /* set the base font size at 18px */
  }
}

/*  Global variables ends */

/****************************************************************************************************************/
/****************************************************************************************************************/
/****************************************************************************************************************/

/*  Basic resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  max-height: 100%;
  font-family: var(--ff-body);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Remove all underline decoration from anchor tags */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove border from all buttons and center the text within */

button,
button:is(:hover, :focus-visible) {
  border: 0;
  line-height: 0;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: inline-block;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Basic resets ends */

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

.brand img {
  width: 7rem;
}
::selection {
  background: var(--clr-primary);
  color: var(--clr-white);
}

::-moz-selection {
  background: var(--clr-primary);
  color: var(--clr-white);
}
.section-padding-block {
  padding-block: var(--section-padding-block);
}
.section-padding-inline {
  padding-block: var(--section-padding-inline);
}
.container {
  padding-inline: var(--lg-padding);
}

/* Layout */
.flex-row-justify-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-row-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--md-padding);
}
.justify-self-center {
  justify-self: center;
}
.fluid-flex {
  display: grid;
  gap: var(--md-padding);
}
.even-columns {
  display: grid;
  gap: var(--md-padding);
}
.text-color-white {
  color: var(--clr-white) !important;
}
.text-color-primary {
  color: var(--clr-primary) !important;
}
.text-color-accent {
  color: var(--clr-accent) !important;
}
.text-color-dark {
  color: var(--clr-dark) !important;
}
.primary-heading {
  font-family: var(--ff-primary-heading);
  font-size: var(--fs-primary-heading);
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  text-align: center;
  margin-block-end: var(--sm-padding);
  letter-spacing: 3px;
}
.secondary-heading {
  font-family: var(--ff-secondary-heading);
  font-size: var(--fs-secondary-heading);
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  text-align: center;
  margin-block-end: var(--sm-padding);
  letter-spacing: 3px;
}
.tertiary-heading {
  font-family: var(--ff-tertiary-heading);
  font-size: var(--fs-tertiary-heading);
  color: var(--clr-primary);
  font-weight: var(--fw-medium);
  text-align: center;
}
.body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: 1.5;
}
.header {
  max-width: 100%;
  padding: var(--xs-padding) var(--lg-padding);
  background-color: var(--clr-full-transparent);
  background-color: var(--clr-white);
  box-shadow: 0px 0px 10px var(--clr-box-shadow);
}
.section {
  margin: var(--section-padding-block);
}
.div-dec {
  width: 4.5rem;
  height: 6px;
  border-radius: 3px;
  background-color: var(--clr-white);
  margin: 20px auto 0 auto;
}
section > .div-dec {
  width: 4rem;
  height: 6px;
  border-radius: 3px;
  background-color: var(--clr-primary);
  margin: 10px auto 0 auto;
}
.primary-cta {
  font-size: var(--fs-button);
  font-family: var(--ff-button);
  color: var(--clr-white);
  background-color: var(--clr-primary);
  padding: var(--xs-padding) var(--md-padding);
  display: inline-block;
  border-radius: 5px;
  font-weight: var(--fw-semi-bold);
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

.primary-cta:hover {
  opacity: 0.9;
}
.secondary-cta {
  font-size: var(--fs-button);
  font-family: var(--ff-button);
  color: var(--clr-white);
  background-color: var(--clr-accent);
  padding: 12px 30px;
  padding: var(--xs-padding) var(--md-padding);
  display: inline-block;
  border-radius: 5px;
  font-weight: var(--fw-semi-bold);
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

.secondary-cta:hover {
  opacity: 0.9;
}

/* ****************         GLOBAL STYLES END  ************************* */

/* **************************************************************************************** */

/* ****************         HEADER STYLES  ************************* */

/* primary-navigation-toggle idea 1 */

/* .primary-navigation-toggle {
  background-color: var(--clr-full-transparent);
}
.primary-navigation-toggle #icon {
  display: block;
  font-size: 2rem;
  margin: 0.2rem;
  color: var(--clr-primary);
  transition: all 0.4ss;
} */
/* CSS styles for the different icon classes (optional) */
/*.icon-open::before {
  content: "\2630";  Hamburger icon 
}

.icon-close::before {
  content: "\2716";   Cross icon 
}

/* primary-navigation-toggle idea 1 ends */

/* primary-navigation-toggle idea 2 */

.primary-navigation-toggle {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 2rem;
  background-color: var(--clr-white);
  width: var(--lg-padding);
  text-indent: -9999em; /* keep the menu text hidden*/
}

/* this is the middle dash */
.primary-navigation-toggle span,
.primary-navigation-toggle span:before,
.primary-navigation-toggle span:after {
  background-color: var(--clr-primary);
  display: block;
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 2px;
  transition: all 0.3s;
}

/* the top and bottom dashes */
.primary-navigation-toggle span:before,
.primary-navigation-toggle span:after {
  content: "";
  z-index: 2;
}
.primary-navigation-toggle span:before {
  transform-origin: 33% 100%;
  top: -10px;
}
.primary-navigation-toggle span:after {
  transform-origin: 33% 0;
  top: 10px;
}

.primary-navigation-toggle.active span,
.primary-navigation-toggle.active span:before,
.primary-navigation-toggle.active span:after {
  background-color: transparent;
  width: 100%;
}
.primary-navigation-toggle.active span:before {
  transform: translateY(6px) rotate(45deg);
  background-color: var(--clr-primary);
}
.primary-navigation-toggle.active span:after {
  transform: translateY(-6px) rotate(-45deg);
  background-color: var(--clr-primary);
}

/* primary-navigation-toggle idea 2 end */

.primary-navigation {
  display: none;
  position: relative;
  z-index: 1;
}
.primary-navigation.active {
  display: block;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  gap: 1rem;
  top: 2.2rem;
  right: -2rem;
  width: min(70vw, 24rem);
  padding: var(--lg-padding);
  background-color: var(--clr-white);
  color: var(--clr-primary);
  font-size: var(--fs-nav);
  font-family: var(--ff-nav);
  font-weight: var(--fw-regular);
  border-radius: 5px;
  animation: navbar 0.3s ease-in-out 0s normal forwards;
  box-shadow: -1px 1px 3px var(--clr-primary);
}
.sub-menu {
  display: none;
}
.sub-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
}

/* 
---------------------------------------------
banner
--------------------------------------------- 
*/
.slider-container {
  overflow: hidden;
  position: relative; /* Added to position the navigation dots */
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  height: 85vh; /* Make each slide take the full height of the viewport */
  background-size: cover;
  background-position: center;
}

.slide-content {
  position: absolute;
  z-index: 2;
  inset: 0;
  text-align: center;
  height: 85vh;
}
.slide-content h2,
.slide-content h1 {
  margin: 0;
  color: var(--clr-white);
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-bold);
}

.slide-content p {
  margin: 10px 0;
  font-size: 16px;
  color: var(--clr-white);
  font-size: var(--fs-nav);
}
.slide-content .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

/* Style for navigation dots */
/* .slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin: 0 5px;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background-color: #fff;
}

/*
---------------------------------------------
services
---------------------------------------------
*/

.service-item {
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 0px 15px var(--clr-wrapper);
  margin-top: 2.5rem;
}
.service-item img {
  height: 20rem;
  border-radius: 5px;
  width: 100%;
}
.service-item:hover img {
  transition: all 0.5s;
}

/*
---------------------------------------------
cta
---------------------------------------------
*/
/* 
section.simple-cta {
  background-image: url(../images/cta-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding: 80px 0px;
}

section.simple-cta .left-image {
  margin-right: 45px;
}

section.simple-cta h4 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
}

section.simple-cta h4 em {
  font-style: normal;
  color: var(--clr-primary);
}

section.simple-cta h4 strong {
  color: var(--clr-accent);
  font-weight: 700;
}

section.simple-cta p {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 40px;
}

section.simple-cta .buttons {
  display: flex;
  justify-content: end;
}

section.simple-cta .buttons .secondary-cta {
  margin-left: 20px;
}

section.simple-cta .buttons .secondary-cta,
section.simple-cta .buttons .primary-cta {
  margin-top: 25px;
} */

/*
---------------------------------------------
about us
---------------------------------------------
*/
/* 
section.about-us {
  margin-top: 90px;
}

section.about-us .section-heading {
  padding-top: 30px;
}

section.about-us .naccs {
  position: relative;
}

section.about-us .naccs .menu div {
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
  border-radius: 5px !important;
  margin-right: 30px;
  font-size: 18px;
  color: #212741;
  background-color: #fff;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 600;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

section.about-us .naccs .menu div.active {
  color: var(--clr-accent);
}

section.about-us ul.nacc {
  margin-top: 50px !important;
  position: relative;
  min-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

section.about-us ul.nacc li {
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  transform: translateX(50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

section.about-us ul.nacc li .main-list,
section.about-us ul.nacc li .list-item {
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

section.about-us ul.nacc li .last-item {
  margin-bottom: 0px;
}

section.about-us ul.nacc li span.title {
  font-size: 15px;
  color: #212741;
  font-weight: 600;
  display: inline-block;
  width: 24%;
}

section.about-us ul.nacc li span.item-title {
  color: var(--clr-primary) !important;
  font-weight: 600 !important;
}

section.about-us ul.nacc li span.item {
  font-size: 15px;
  color: #212741;
  font-weight: 400;
  display: inline-block;
  width: 24%;
}

section.about-us ul.nacc li.active {
  position: relative;
  transition-delay: 0.3s;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
}

section.about-us .right-content {
  margin-left: 60px;
}

section.about-us .right-content h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
}

section.about-us .right-content p {
  margin-bottom: 50px;
} */

/*
---------------------------------------------
calculator
---------------------------------------------
*/

/* section.calculator {
  margin-top: 150px;
  background-image: url(../images/calculator-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding: 80px 0px;
}

section.calculator .left-image {
  margin: -110px 45px -80px 0px;
}

section.calculator .section-heading {
  text-align: left;
}

section.calculator .section-heading h4 {
  color: #fff;
}

#calculate label {
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}

#calculate input,
#calculate select {
  background-color: rgba(121, 134, 151, 0.7);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 42px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 30px;
  outline: none;
}

#calculate select {
  cursor: pointer;
}

#calculate button.secondary-cta {
  font-size: 14px;
  color: #fff;
  background-color: var(--clr-accent);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  border: none;
  transition: all 0.3s;
}

#calculate button.secondary-cta:hover {
  opacity: 0.9;
} */

/* 
---------------------------------------------
testimonials
--------------------------------------------- 
*/

/* section.testimonials {
  margin-top: 90px;
}

section.testimonials .section-heading {
  padding-top: 30px;
}

.testimonials .item {
  border-radius: 15px;
  padding: 50px 320px 50px 50px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding-top: 35px;
}

.testimonials .item i {
  width: 70px;
  height: 70px;
  background-color: var(--clr-primary);
  display: inline-block;
  text-align: center;
  line-height: 70px;
  color: #fff;
  font-size: 44px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.testimonials .item p {
  font-size: 16px;
  font-style: italic;
}

.testimonials .item h4 {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}

.testimonials .item span {
  margin-top: 5px;
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: var(--clr-primary);
}

.testimonials .item img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 300px;
  border-radius: 5px;
}

.testimonials .owl-dots {
  text-align: center;
  margin-top: 30px;
}

.testimonials .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #ffa88c;
  border-radius: 50%;
  margin: 0px 4px;
}

.testimonials .owl-dots .active {
  background-color: var(--clr-accent);
}

/* 
---------------------------------------------
partners
--------------------------------------------- 
*/
/* 
section.partners {
  background-color: #212741;
  padding: 80px 0px;
}

section.partners .item {
  margin: 0px 15px;
  cursor: pointer;
  transition: all 0.3s;
}

section.partners .item:hover {
  opacity: 0.75;
} */

/* 
---------------------------------------------
footer 
--------------------------------------------- 
*/

footer {
  background-color: var(--clr-primary);
  text-align: center;
  padding: 25px 0px;
}

footer p {
  color: #fff;
  font-weight: 300;
}

footer p a {
  color: var(--clr-accent);
}

/* 
---------------------------------------------
page heading
--------------------------------------------- 
*/

.page-heading {
  background-image: url(../images/heading-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 215px 0px 120px 0px;
  text-align: center;
}

.page-heading h2 {
  font-size: 56px;
  color: #fff;
  font-weight: 700;
}

/* 
---------------------------------------------
about us page
--------------------------------------------- 
*/

section.top-section .left-image img {
  border-radius: 10px;
}

section.top-section .accordions {
  border-radius: 5px;
  padding: 50px 40px;
  background-color: #fff;
  margin-left: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.accordions .accordion {
  border-bottom: 1px solid #eee;
}
.accordions .last-accordion {
  border-bottom: none;
}
.accordion-head {
  padding: 35px 0px !important;
  font-size: 22px;
  font-weight: 600;
  color: #212741;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .accordion-head {
    padding: 1rem;
    font-size: 1.2rem;
  }
}
.accordion-head .icon {
  float: right;
  transition: transform 200ms ease-in-out;
}
.accordion-head.is-open {
  color: var(--clr-primary);
  border-bottom: none;
}
.accordion-head.is-open .icon {
  transform: rotate(45deg);
}
.accordion-body {
  padding: 0px;
  overflow: hidden;
  height: 0;
  transition: height 300ms ease-in-out;
  border-bottom: 1px solid #fff;
}
.accordion-body > .content p {
  padding: 0px 0px 30px 0px;
  padding-top: 0;
}

section.what-we-do {
  margin-bottom: -30px;
}

.what-we-do .left-content {
  margin-right: 60px;
}

.what-we-do .left-content h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
}

.what-we-do .left-content p {
  margin-bottom: 40px;
}

.what-we-do .right-items .item {
  border-radius: 5px;
  padding: 40px 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: relative;
}

.what-we-do .right-items .item em {
  position: absolute;
  font-style: normal;
  font-size: 44px;
  color: var(--clr-primary);
  font-weight: 600;
  right: 15px;
  top: 5px;
  transition: all 0.3s;
}

.what-we-do .right-items .item h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 22px;
}

.what-we-do .right-items .item:hover em {
  top: 10px;
}

/* 
---------------------------------------------
services page
--------------------------------------------- 
*/

.main-services .service-item {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ecf8f2;
}

.main-services .last-service {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.main-services .left-image {
  margin-right: 15px;
}

.main-services .left-image img {
  border-radius: 5px;
}

.main-services .right-image {
  margin-left: 15px;
}

.main-services .right-image img {
  border-radius: 5px;
}

.main-services .right-text-content {
  margin-left: 15px;
}

.main-services .left-text-content {
  margin-right: 15px;
}

.main-services .right-text-content i,
.main-services .left-text-content i {
  font-size: 64px;
  color: var(--clr-primary);
  background-color: #ecf8f2;
  width: 120px;
  height: 120px;
  text-align: center;
  display: inline-block;
  line-height: 120px;
  border-radius: 5px;
}

.main-services .right-text-content h4,
.main-services .left-text-content h4 {
  font-size: 36px;
  font-weight: 700;
  color: #212741;
  margin-top: 40px;
  margin-bottom: 30px;
}

section.service-details .naccs {
  position: relative;
}

section.service-details .naccs .menu {
  text-align: center;
}

section.service-details .naccs .menu div {
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
  border-radius: 5px !important;
  margin-right: 30px;
  font-size: 18px;
  color: #212741;
  background-color: #fff;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 600;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

section.service-details .naccs .menu div.active {
  color: var(--clr-accent);
}

section.service-details ul.nacc {
  margin-top: 50px !important;
  position: relative;
  min-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

section.service-details ul.nacc li {
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  transform: translateX(50px);
  position: absolute;
  list-style: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

section.service-details ul.nacc li .left-image {
  position: absolute;
  margin-right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

section.service-details ul.nacc li .left-image img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

section.service-details ul.nacc li .right-content {
  padding: 50px 50px 50px 0px;
  margin-left: 470px;
}

section.service-details ul.nacc li .right-content h4 {
  font-size: 24px;
  color: #212741;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 40px;
  margin-right: 120px;
}

section.service-details ul.nacc li .right-content ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

section.service-details ul.nacc li .right-content span {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #212741;
  font-style: italic;
  margin-bottom: 12px;
}

section.service-details ul.nacc li .right-content .last-span {
  margin-bottom: 0px;
}

section.service-details ul.nacc li .right-content p {
  margin-bottom: 30px;
}

section.service-details ul.nacc li.active {
  position: relative;
  transition-delay: 0.3s;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
}

/* 
---------------------------------------------
contact us page
--------------------------------------------- 
*/

section.map .info-item {
  text-align: center;
  padding: 40px 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  z-index: 2;
  transition: all 0.5s;
}

section.map .info-item:hover {
  margin-top: -70px;
}

section.map .info-item i {
  font-size: 36px;
  color: var(--clr-primary);
  margin-bottom: 25px;
}

section.map .info-item h4 {
  font-size: 18px;
  color: #212741;
  font-weight: 600;
  margin-bottom: 12px;
}

section.map .info-item a {
  font-size: 15px;
  font-weight: 600;
  color: var(--clr-primary);
  transition: all 0.3s;
}

section.map .info-item a:hover {
  color: var(--clr-accent);
}

#contact input {
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  color: #212741;
  border-radius: 5px;
  border: none;
  padding: 0px 15px;
  font-size: 14px;
  outline: none;
  margin-bottom: 30px;
}

#contact textarea {
  width: 100%;
  height: 180px;
  max-height: 24px;
  min-height: 150px;
  background-color: #f7f7f7;
  color: #212741;
  border-radius: 5px;
  border: none;
  padding: 15px 15px;
  font-size: 14px;
  outline: none;
  margin-bottom: 30px;
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: #212741;
}
#contact button.secondary-cta {
  font-size: 14px;
  color: #fff;
  background-color: var(--clr-accent);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  border: none;
  transition: all 0.3s;
}

#contact button.secondary-cta:hover {
  background-color: var(--clr-primary);
}

/* **************************************************************************************** */

/* *******************************   ANIMATIONS   *********************************** */

/* **************************************************************************************** */

/* 
---------------------------------------------
Animation
--------------------------------------------- 
*/

/* ****************         FOR LAPTOPS ONLY  ************************* */

@media (min-width: 991px) {
  /* Float Shadow */
  .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px var(--clr-full-transparent);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(
      center,
      ellipse,
      var(--clr-wrapper) 0%,
      var(--clr-full-transparent) 80%
    );
    background: radial-gradient(
      ellipse at center,
      var(--clr-wrapper) 0%,
      var(--clr-full-transparent) 80%
    );
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover,
  .hvr-float-shadow:focus,
  .hvr-float-shadow.active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before,
  .hvr-float-shadow:focus:before,
  .hvr-float-shadow.active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
}
/* mobile Navbar */
@keyframes navbar {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* **************************************************************************************** */

/* *******************************   RESPONSIVENESS   *********************************** */

/* **************************************************************************************** */

/* ****************         FOR TABLETS OR MINI LAPTOPS ONLY  ************************* */

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding-inline: var(--xlg-padding);
  }
  .fluid-flex {
    grid-template-columns: 1fr 1fr;
  }
  /* 
---------------------------------------------
header
--------------------------------------------- 
*/
  .header {
    padding-inline: var(--xlg-padding);
  }
  .nav {
    right: -3rem;
  }
}

/* ****************         FOR TABLETS OR MINI LAPTOPS ONLY END  ************************* */

/* **************************************************************************************** */

/* ****************         FOR LAPTOPS ONLY  ************************* */

@media (min-width: 991px) {
  .fluid-flex {
    grid-template-columns: 1fr 1fr;
  }
  /* 
---------------------------------------------
header
--------------------------------------------- 
*/

  .header {
    padding: var(--sm-padding) var(--lg-padding);
  }
  .primary-navigation-toggle {
    display: none;
  }
  .primary-navigation.active,
  .primary-navigation {
    display: flex;
  }
  .nav {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    box-shadow: none;
    gap: var(--lg-padding);
  }
  .nav > li {
    padding-right: var(--sm-padding);
    border-right: 1px solid var(--clr-wrapper);
  }
}

/* ****************         FOR LAPTOPS ONLY END  ************************* */
